<div class="container">
  <button type="button" class="btn btn-success btn-lg btn-block create-list">Create list from selected</button>
  <table class="table table-striped table-hover table-bordered">
    <thead class="thead-inverse">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
        {{#if this.id}}
          <tr>
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.phone}}</td>
            <td><div class="text-center"><input type="checkbox"></div></td>
          </tr>
        {{/if}}
      {{/each}}
    </tbody>
  </table>
  <button type="button" class="btn btn-success btn-lg btn-block create-list">Create list from selected</button>
</div>