<div class="jumbotron">
  <h1 class="display-3 text-center">{{title}}</h1>
  <p class="text-center">Welcome to {{title}}</p>
  <p class="text-center"><a class="btn btn-primary btn-lg" href="/login" data-vivaldi-spatnav-clickable="1">Log in</a></p>
</div>
